---
import { render } from "astro:content";
import { Image } from "astro:assets";
import { Code } from "astro:components";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import { resolveIngredientIcon } from "../../content/ingredients/resolve-ingredient-icon";
import IngredientPath from "../../components/IngredientPath.astro";
import { getRecipesByIngredient } from "../../content/recipes/recipes-by-ingredient";
import RecipesTable from "../../components/RecipesTable.astro";
import ExpandableContent from "../../components/ExpandableContent.astro";
import { resolveIngredients } from "../../content/ingredients/resolve-ingredient";

export async function getStaticPaths() {
  const ingredients = await resolveIngredients();
  const items = ingredients.map((ingredient) => ({
    params: { slug: ingredient.id },
    props: { ingredient: ingredient },
  }));
  return items;
}

const { ingredient } = Astro.props;
const { id } = ingredient;
const { name, basePrice, path } = ingredient.data;

const [{ Content, headings }, resolvedIcon, recipes] = await Promise.all([
  render(ingredient),
  resolveIngredientIcon(id),
  getRecipesByIngredient(id),
]);
---

<StarlightPage
  frontmatter={{
    title: name,
    description: `The ${name} ingredient.`,
  }}
  headings={[
    ...headings,
    { depth: 2, slug: "path", text: "Path" },
    { depth: 2, slug: "svg-path", text: "SVG Path" },
    {
      depth: 2,
      slug: "ingredient-recipes",
      text: "Recipes using this ingredient",
    },
  ]}
>
  <div class="attr-page-layout">
    <aside class="attr-page-infobox">
      {
        resolvedIcon && (
          <Image class="icon" src={resolvedIcon} alt={name} width={64} />
        )
      }
      <dl>
        <dt>Base Price</dt>
        <dd>{basePrice}</dd>
      </dl>
    </aside>

    <div class="attr-page-body">
      <Content />
      <h3 id="path">Ingredient Path</h3>
      <div class="ingredient-path-preview">
        <IngredientPath size={200} ingredient={ingredient} />
      </div>
      <ExpandableContent id="svg-path" title="SVG Path" collapsed={true}>
        <Code wrap code={path} />
      </ExpandableContent>
      <ExpandableContent
        id="ingredient-recipes"
        title="Recipes using this ingredient"
      >
        <RecipesTable recipes={recipes} />
      </ExpandableContent>
    </div>
  </div>
</StarlightPage>

<style>
  .ingredient-path-preview {
    display: flex;
  }

  @media (max-width: 600px) {
    .ingredient-path-preview {
      justify-content: center;
    }
  }
</style>
