---
import { render } from "astro:content";
import { Image } from "astro:assets";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import EffectList from "../../components/EffectList.astro";
import IngredientList from "../../components/IngredientList.astro";
import { resolveRecipePreview } from "../../content/recipes/resolve-recipe-preview";
import {
  getPrimaryIngredientTag,
  getPrimarySaltTag,
} from "../../content/tags/primary-tag";
import { resolveTag } from "../../content/tags/resolve-tag";
import RecipeTagsList from "../../components/RecipeTagsList.astro";
import { resolveRecipes } from "../../content/recipes/resolve-recipe";

export async function getStaticPaths() {
  const recipes = await resolveRecipes();
  return recipes.map((i) => ({
    params: { slug: i.id },
    props: { recipe: i },
  }));
}

const { recipe } = Astro.props;
const { id } = recipe;
const [{ Content }, preview] = await Promise.all([
  render(recipe),
  resolveRecipePreview(id),
]);
const { name, cost, effects, ingredients, tags } = recipe.data;

const primaryIngredientTag = getPrimaryIngredientTag(tags);
const primarySaltTag = getPrimarySaltTag(tags);

const [primaryIngredientTagData, primarySaltTagData] = await Promise.all([
  primaryIngredientTag ? resolveTag(primaryIngredientTag) : null,
  primarySaltTag ? resolveTag(primarySaltTag) : null,
]);

let titleDescriptor: string = "";

if (primaryIngredientTagData) {
  if (primarySaltTagData) {
    titleDescriptor = `${primarySaltTagData.data.name} ${primaryIngredientTagData.data.name}`;
  } else {
    titleDescriptor = primaryIngredientTagData.data.name;
  }
} else if (primarySaltTagData) {
  titleDescriptor = primarySaltTagData.data.name;
} else {
  titleDescriptor = "Unknown";
}
---

<StarlightPage
  frontmatter={{
    title: `${titleDescriptor} Recipe`,
    description: `The ${name} recipe.`,
  }}
>
  <div class="attr-page-layout">
    <aside class="attr-page-infobox">
      <dl>
        <dt>Cost</dt>
        <dd><span title={String(cost)}>{Math.ceil(cost)}</span></dd>
        <dt>Effects</dt>
        <dd>
          <EffectList class="recipe-effects" effects={effects} />
        </dd>
        <dt>Tags</dt>
        <dd>
          <RecipeTagsList tags={tags} />
        </dd>
        <dt>Ingredients</dt>
        <dd>
          <IngredientList
            class="recipe-ingredients"
            ingredients={ingredients}
            count
          />
        </dd>
      </dl>
    </aside>
    {
      preview && (
        <Image
          class="recipe-preview"
          src={preview}
          alt={name}
          width={600}
          height={600}
        />
      )
    }
    <div class="recipe-body">
      <Content />
    </div>
  </div>
</StarlightPage>

<style>
  .recipe-effects,
  .recipe-ingredients {
    display: flex;
    justify-content: center;
  }
</style>
