---
import { getCollection, render } from "astro:content";
import { sortRecipes } from "../../content/recipes/sort-recipes";
import { Image } from "astro:assets";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import { resolveEffectIcon } from "../../content/effects/resolve-effect-icon";
import { getRecipesByEffect } from "../../content/recipes/recipes-by-effect";

import RecipesTable from "../../components/RecipesTable.astro";
import ExpandableContent from "../../components/ExpandableContent.astro";
import { filterRecipes } from "../../content/recipes/filter-recipes";

export async function getStaticPaths() {
  const effects = await getCollection("effects");
  return effects.map((effect) => ({
    params: { slug: effect.id },
    props: { effect: effect },
  }));
}

const { effect } = Astro.props;
const { id } = effect;
const { name, basePrice } = effect.data;

const [{ Content }, resolvedIcon, recipes] = await Promise.all([
  render(effect),
  resolveEffectIcon(id),
  getRecipesByEffect(id),
]);

const tierThreeRecipes = filterRecipes(recipes, { effects: { [id]: 3 } });
const costOptimal = sortRecipes(tierThreeRecipes, "cost");
const ingredientCountOptimal = sortRecipes(
  tierThreeRecipes,
  "ingredient-count",
);
---

<StarlightPage
  frontmatter={{
    title: name,
    description: `The ${name} effect.`,
  }}
  headings={[
    { depth: 2, slug: "effect-recipes-cost", text: "Cost Optimal" },
    {
      depth: 2,
      slug: "effect-recipes-ingredient",
      text: "Ingredient Optimanl",
    },
    { depth: 2, slug: "effect-recipes-all", text: "All Recipes" },
  ]}
>
  <div class="attr-page-layout">
    <aside class="attr-page-infobox">
      {
        resolvedIcon && (
          <Image class="icon" src={resolvedIcon} alt={name} width={64} />
        )
      }
      <dl>
        <dt>Base Price</dt>
        <dd>{basePrice}</dd>
      </dl>
    </aside>

    <div class="attr-page-body">
      <Content />
      {effect.body != null ? <hr /> : null}
      <ExpandableContent
        id="effect-recipes-cost"
        title="Cost Optimal (Tier Three)"
        collapsed
      >
        <RecipesTable recipes={costOptimal} allowSorting={false} />
      </ExpandableContent>
      <ExpandableContent
        id="effect-recipes-ingredient"
        title="Ingredient Count Optimal (Tier Three)"
        collapsed
      >
        <RecipesTable recipes={ingredientCountOptimal} allowSorting={false} />
      </ExpandableContent>
      <ExpandableContent id="effect-recipes-all" title="All Recipes">
        <RecipesTable recipes={recipes} />
      </ExpandableContent>
    </div>
  </div>
</StarlightPage>
