---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import { resolveEffectIcon } from "../../content/effects/resolve-effect-icon";
import { getRecipesByEffect } from "../../content/recipes/recipes-by-effect";

import RecipesTable from "../../components/RecipesTable.astro";
import ExpandableContent from "../../components/ExpandableContent.astro";

export async function getStaticPaths() {
  const effects = await getCollection("effects");
  return effects.map((effect) => ({
    params: { slug: effect.id },
    props: { effect: effect },
  }));
}

const { effect } = Astro.props;
const { id } = effect;
const { name, basePrice } = effect.data;

const [{ Content }, resolvedIcon, recipes] = await Promise.all([
  render(effect),
  resolveEffectIcon(id),
  getRecipesByEffect(id),
]);
---

<StarlightPage
  frontmatter={{
    title: name,
    description: `The ${name} effect.`,
  }}
  headings={[{ depth: 2, slug: "effect-recipes", text: "Recipes" }]}
>
  <div class="attr-page-layout">
    <aside class="attr-page-infobox">
      {
        resolvedIcon && (
          <Image class="icon" src={resolvedIcon} alt={name} width={64} />
        )
      }
      <dl>
        <dt>Base Price</dt>
        <dd>{basePrice}</dd>
      </dl>
    </aside>

    <div class="attr-page-body">
      <Content />
      {effect.body != null ? <hr /> : null}
      <ExpandableContent id="effect-recipes" title="Recipes using this effect">
        <RecipesTable recipes={recipes} />
      </ExpandableContent>
    </div>
  </div>
</StarlightPage>
